<div class="container m-5">
  <mat-form-field class="example-full-width">
    <mat-label>Ingrese un concepto</mat-label>
    <input
      type="text"
      placeholder="Ingrese un concepto"
      aria-label="Ingrese un concepto"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
        (click)="selectedConcept(option)"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
