<h1 mat-dialog-title>{{ nombreConcepto }}</h1>
<div mat-dialog-content>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Concepto</th>
          <th scope="col">Número de cuenta</th>
          <th scope="col">Subtotal %</th>
          <th scope="col">IVA %</th>
          <th scope="col">Total %</th>
          <th scope="col">Rete fuente %</th>
          <th scope="col">Rete IVA %</th>
          <th scope="col">Rte ICA %</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of datosFiltrados">
          <td>{{ datos.descripcion }}</td>
          <td>{{ datos.cuenta }}</td>
          <td>{{ datos.subtotal }}</td>
          <td>{{ datos.iva }}</td>
          <td>{{ datos.total }}</td>
          <td>{{ datos.rte_fte }}</td>
          <td>{{ datos.rte_iva }}</td>
          <td>{{ datos.rte_ica }}</td>

          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
