<div class="container m-5">
  <div class="row">
    <form
      autocomplete="off"
      [formGroup]="form"
      (ngSubmit)="verTabla()"
      target="TheWindow"
      class="example-form"
    >
      <div class="row">
        <div class="col-md-6">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button
              value="1"
              [checked]="true"
              (click)="optionSelected(1)"
              >Concepto</mat-radio-button
            >
            <mat-radio-button value="2" (click)="optionSelected(2)"
              >Cuentas</mat-radio-button
            >
          </mat-radio-group>
        </div>
        <div class="col-md-6">
          <div class="example-button-row">
            <button mat-button color="primary" (click)="editar_concepto()">
              Editar????
            </button>
          </div>
        </div>
      </div>
      <br />

      <div class="row" *ngIf="mostrarDatos.concepto_vs_cuenta">
        <div class="col-md-6">
          <mat-form-field class="all-space-input">
            <mat-label>Concepto</mat-label>
            <mat-select
              formControlName="conceptos_id"
              multiple
              (selectionChange)="selectedConcept($event)"
            >
              <mat-option
                *ngFor="let cue of mostrarDatos.allConceptos"
                [value]="cue.id_concepto_contable"
              >
                {{ cue.concepto }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="all-space-input">
            <mat-label>Cuentas</mat-label>
            <mat-select formControlName="cuentas" multiple cdkFocusInitial>
              <mat-option
                *ngFor="let count of counts"
                [disabled]="mostrarDatos.input_disabled"
                [value]="count.cuenta"
              >
                {{ count.cuenta }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="row" *ngIf="mostrarDatos.cuenta_vs_concepto">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field class="example-form-field" class="all-space-input">
              <mat-label>Buscar número de cuenta</mat-label>
              <input matInput type="text" (keyup)="buscadorCuenta($event)" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="all-space-input">
              <mat-label>Cuentas</mat-label>
              <mat-select formControlName="cuentas" multiple cdkFocusInitial>
                <mat-option *ngFor="let count of numCuentas">
                  {{ count.cuenta }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="all-space-input">
              <mat-label>Concepto</mat-label>
              <mat-select
              [formControl]="conceptos_id"
                multiple
                cdkFocusInitial
              >
                <mat-option
                  *ngFor="let cue of mostrarDatos.allConceptos"
                  [disabled]="mostrarDatos.input_disabled"
                >
                  {{ cue.concepto }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div> -->
      <br />
      <hr />
      <br />
      <div class="row" *ngIf="mostrarDatos.myButton === true">
        <div class="col-md-12">
          <button class="btn btn-outline-primary btn-block">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
  <br />
  <hr />
  <br />

  <div class="row" *ngIf="mostrarDatos.tabla_cuentas === true">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Concepto</th>
          <th scope="col">Número de cuenta</th>
          <th scope="col">Subtotal %</th>
          <th scope="col">IVA %</th>
          <th scope="col">Total %</th>
          <th scope="col">Rete fuente %</th>
          <th scope="col">Rete IVA %</th>
          <th scope="col">Rte ICA %</th>
          <th scope="col">Detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of datosFiltrados">
          <td>{{ datos.concepto }}</td>
          <td>{{ datos.cuenta }}</td>
          <td>{{ datos.subtotal }}</td>
          <td>{{ datos.iva }}</td>
          <td>{{ datos.total }}</td>
          <td>{{ datos.rte_fte }}</td>
          <td>{{ datos.rte_iva }}</td>
          <td>{{ datos.rte_ica }}</td>

          <td>
            <div class="example-button-container">
              <button
                mat-mini-fab
                color="primary"
                aria-label="Example icon button with a menu icon"
                (click)="verDetalle(datos.concepto_contable_id, datos.cuenta)"
              >
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
